<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252"></head><body>
      <div ng-controller="loginCtrl">
         <label for = "email">Email-id</label><br>
         <input type = "text" name = "email" placeholder = "name@x.com" ng-model="email"/><br>
         <label for = "password">Password</label><br>
         <input type = "text" name = "password" placeholder = "dfsfsbx" ng-model="password"/><br>
         <button ng-click="submitForm()">OK</button>
      </div>
    <div ng-controller = "logoutCtrl">
         <input type = "button" name = "logout" ng-model="logout"/><br>
         <button ng-click="submitForm()">logout</button>
    </div>
   </body>
</html>