<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252"></head><body>
      <div ng-controller="signupCtrl">
         <label for = "email">Email-id</label><br>
         <input type = "text" name = "email" placeholder = "name@x.com" ng-model="email"/><br>
         <label for = "password">Password</label><br>
         <input type = "text" name = "password" placeholder = "dfsfsbx" ng-model="password"/><br>
         <button ng-click="submitForm()" {{val-agent}}>OK</button>
      </div>
   </body>
</html>